/* Author: Varsha Rajawat
Date: 25 Feb 2024
File Name: styles.css  */

/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Set the background color for the website */
body {
    background-color: #FFF8E3;
    font-family: "Lato", sans-serif;
}

/* Style the container element */
.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: calc(55vh);
}

/* Style the header element */
header {
    background-color: #F5EEE6;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(65, 37, 26, 0.2);
    text-align: center;
    color: #41251A;
}

nav {
    text-align: center;
    display: flex;
    align-items: center;
    column-gap: 20px;
    top: 0;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    column-gap: 15px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #41251A;
    padding: 10px;
}

nav ul li a:hover {
    color: #5F6F52;
}

nav ul li:hover {
    transform: scale(1.1);
}


/* Style logo image */
.logo-img {
    width: auto;
    height: 80px;
    margin: 0 1em;
    display: block;
}

/* Style banner image */
.banner-img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

/* Style the main element */
main {
    padding: 0px;
    display: block;
    margin-bottom: 0px;
    border-radius: 10px;
    background-color: #FFF8E3;
}

/* Adjust the font color for all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #41251A;
}

/* Change the color of at least one heading */
h1 {
    color: #41251A;
    /* Example color */
}


/* Style footer */
footer {
    font-family: "Merriweather", sans-serif;
    font-size: 0.75em;
    text-align: center;
    margin-top: 0px;
    background-color: #F3D7CA;
    bottom: 0;
    width: 100%;
}

.footer-container {
    background-color: #F3D7CA;
    overflow: hidden;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    padding: 0 1em;
}

/* Add styles for the specials page */

/* Style the banner section */
.banner img {
    width: 100%;
    height: auto;
    box-shadow: 0 5px 5px rgba(65, 37, 26, 0.2);
}

/* Style the weekly sales section */
.weekly-sales {
    margin-top: 20px;
}

.sales-items {
    display: flex;
    margin-top: 20px;
    padding: 20px;
}

.sales-item-card {
    width: calc(33.33% - 20px);
    margin: 0 10px;
    float: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.sales-item img {
    width: auto;
    height: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.sales-item p {
    margin-bottom: 10px;
}

.sales-item strong {
    font-weight: bold;
}

/* Style the product of the week section */
.product-of-the-week {
    margin-top: 20px;
    text-align: center;
}

.product {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.product-info {
    text-align: center;
}

.product-info p {
    margin-bottom: 10px;
}

.price {
    font-size: 1.2em;
    color: #FF5733;
}

.price strong {
    font-weight: bold;
}

.price del {
    color: #999;
}

/* Style the reasons to buy section */
.reasons-to-buy {
    margin-top: 20px;
    text-align: center;
}

.reasons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.reason {
    text-align: center;
    margin-bottom: 20px;
    width: 300px;
}

.reason img {
    width: 40%;
    height: auto;
    margin-bottom: 10px;
}

.reason h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.reason p {
    margin-bottom: 10px;
}

/* Style the our guarantee section */
.our-guarantee {
    margin-top: 20px;
    text-align: center;
}

.guarantee-intro {
    font-size: 1.1em;
    color: #555;
}

.guarantee-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.guarantee-item {
    width: 300px;
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.guarantee-item:hover {
    transform: translateY(-5px);
}

.guarantee-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.guarantee-item p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 0;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        row-gap: 0px;
        padding: 0px;
        position: static;
        border: none;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
    }

    nav ul li {
        padding: 5px 0;
        border-bottom: 1px solid #333;
    }

    nav ul li a {
        padding: 5px 0;
        width: 100%;
        display: block;
    }


}