.team-banner img {
    max-width: 100%;
    margin: auto;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.team-member img {
    background-color: #F3D7CA;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.team-member figcaption {
    margin-top: 10px;
    font-weight: bold;
    color: #41251A;
}

.team-member {
    text-align: center;
    margin-bottom: 10px;
    flex: 1 0 200px;
}

.team-member p {
    margin-top: 10px;
    color: #666;
}

h1 {
    text-align: center;
    margin: 20px;
}

.our-story p, aside p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    text-align: justify;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
}

/* Styles for the aside section */
aside {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 20px;
}