/* Add styles for the team page */

.team-banner img {
    max-width: 100%;
    margin: auto;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.team-member img {
    background-color: #F3D7CA;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.team-member figcaption {
    margin-top: 10px;
    font-weight: bold;
    color: #41251A;
}

.team-member {
    text-align: center;
    margin-bottom: 10px;
    flex: 1 0 200px;
}

.team-member p {
    margin-top: 10px;
    color: #666;
}

/* Hover effect on team member images */
.team-member img:hover {
    transform: scale(1.1);
}

@media only screen and (min-width: 768px) {

    section.team-banner{
        display: none;
    }
}

.our-story {
    background-image: url('path/to/hero-image.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
    color: #5F6F52;
}

.story-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #A9B388;
    color: #41251A;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5F6F52;
    color: #fff;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.story-para {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
